body{
    font-family: "Speedway", sans-serif;
    color: rgb(249, 249, 181);
    background-color: rgb(34, 34, 75);
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 6 / span 6;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 50px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    background-color: rgb(58, 58, 140);
}

.div2:hover{
    background-color: rgb(40, 40, 91);
    transition: 0.3s;
}
.div2:active{
    background-color: rgb(21, 21, 50);
    border: 0.5px solid rgb(132, 136, 190);
    transition: 0.3s;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 2;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    background-color: rgb(58, 58, 140);
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 2;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    background-color: rgb(58, 58, 140);
}