body{
    font-family: 'Magic Vintage', sans-serif;
    color: rgb(249, 249, 181);
    background-color: rgb(34, 34, 75);
    overflow: hidden;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 98vh;
}
    
.div1 {
    grid-column: span 6 / span 6;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 200;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    text-align: center;
    background-color: rgb(58, 58, 140);
    transition: all 0.1s ease-in-out;
    font-size: 30px;
}

.div2:hover{
    transform: scale(0.95) translateY(-50px);
}
.div2:active{
    border: 0.5px solid rgb(132, 136, 190);
    opacity: 85%;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    text-align: center;
    background-color: rgb(58, 58, 140);
    transition: all 0.1s ease-in-out;
    font-size: 30px;
}
.div3:hover{
    transform: scale(0.95) translateY(-50px);
}
.div3:active{
    border: 0.5px solid rgb(132, 136, 190);
    opacity: 85%;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    text-align: center;
    background-color: rgb(58, 58, 140);
    transition: all 0.1s ease-in-out;
    font-size: 30px;
}
.div4:hover{
    transform: scale(0.95) translateY(-50px);
}
.div4:active{
    border: 0.5px solid rgb(132, 136, 190);
    opacity: 85%;
}
.photo{
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    opacity: inherit;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}